.search-input {
    max-width: 700px;
    width: 100%;
    margin: 20px auto 30px;
    border: 1px solid #e1e5ed;
    background: #fbfcff;
    border-radius: 7px;
}

.search-input input {
    padding: 8px 40px 8px 20px;
    width: 100%;
    font-size: 19px;
    background: transparent;
    transition: all 1s;
}

.search-input input::placeholder {
    color: #acb4bc;
    font-family: sans-serif;
    font-size: 16px;
}

.search-input input:focus {
    background: #ffffff;
    box-shadow: 0 0 15px 8px rgba(202, 205, 210, .3);
    border-radius: 7px;
    color: #000;
    transition: all 1s;
}

.search-btn {
    width: 40px;
    height: 40px;
    line-height: 41px;
    background-color: rgb(6, 201, 152);
    text-align: center;
    transition: all .9s;
}

.search-btn:hover {
    width: 40px;
    height: 40px;
    line-height: 41px;
    background-color: rgb(31, 35, 223);
    text-align: center;
}

.search-btn::after {
    content: "";
}

.searchQuery {
    background-color: blueviolet;
}