.search-input {
    max-width: 700px;
    width: 100%;
    margin: 20px auto 30px;
    border: 1px solid rgb(233, 233, 233);
    background: #fbfcff;
    border-radius: 7px;
    transition: all 2s ease-in;
}
.search-input input:focus {
    background: #e5eaf1;
    border-radius: 7px;
    color: #000;
}

.search-input input {
    padding: 8px 40px 8px 20px;
    width: 100%;
    font-size: 19px;
    background: transparent;
}

.search-btn {
    width: 40px;
    height: 40px;
    line-height: 41px;
    background-color: rgb(6, 201, 152);
    text-align: center;
    transition: all .9s;
}

.search-btn:hover {
    width: 40px;
    height: 40px;
    line-height: 41px;
    background-color: rgb(31, 35, 223);
    text-align: center;
}

.search-btn::after {
    content: "";
}
.searchQuery {
    background-color: blueviolet;
}