.todos {
    width: 100%;
}

.todo-list {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.add-todo {
    position: relative;
    max-width: 250px;
}

.todo-item {
    background-color: #fff;
    order: 1px solid #deebfd;
    box-shadow: -8px 12px 18px 0 #dadee8;
    border-radius: 6px;
    margin: 15px;
    padding: 10px 30px 50px 40px;
    height: fit-content;
    max-width: 270px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    font-size: 14px;
    font-family: sans-serif;
}

.todo-item__title {
    color: #0d0c21;
    text-transform: uppercase;
    font-size: 15px;
    margin: 15px 0px;
    font-weight: 600;
    line-height: 19px;
    font-family: sans-serif;
}

.todo-item__description {
    margin: 10px 0px;
}

.time-info {
    margin-top: 30px;
}

.separate {
    height: 2px;
    background-color: #0d0c21;
    width: 40%;
    margin: 20px auto 0px;
}

.todo-btns {
    width: 100%;
    bottom: 5px;
    left: 5px;
    position: absolute;
}

.todo-btns__inner {
    display: flex;
    padding: 5px;
    margin-top: 12px;
}

.todo-btns__item {}

.todo-btns__item:not(:last-child) {
    margin-right: 2px;
}

.todoend-btn,
.todoupdate-btn,
.tododel-btn {
    padding: 4px;
    font-family: sans-serif;
    font-size: 16px;
    transition: all .9s ease-in;
    background-color: transparent;
}

.todoend-btn {
    color: #2a8b19;
}

.todoend-btn:hover {}

.todoupdate-btn {
    color: blue;
}

.todoupdate-btn:hover {}

.tododel-btn {
    color: brown;
}

.tododel-btn:hover {}