.modal {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    display: none;
    background: rgba(59, 64, 72, 0.9);
    z-index: 99;
}

.modal-content {
    background: rgb(255, 255, 255);
    min-width: 400px;
    min-height: 500px;
}

.modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}