.form-input {
    border: 1px solid rgb(210, 210, 210);
    padding: 15px;
    color: #000;
    font-size: 12px;
    font-family: sans-serif;
    width: 100%;
    margin: 10px 0;
    border-radius: 8px;
}

.form-input:focus {
    border: 2px solid #5087A0;
    padding: 14px;
}