.main {
    display: flex;
    justify-content: center;
}

.main .login {
    background: #252339;
    display: flex;
    min-height: 600px;
}

.login-form__title {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.main .login-sidebar {
    background-image: url("../../assets/portal/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 500px;
    width: 100%;
}

.main .signup-sidebar {
    background-image: url("../../assets/portal/login.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 500px;
    width: 100%;
}

.main .login-sidebar img {
    width: 100%;
    height: 100%;
}

.main .login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 450px;
}

.input-icon {
    color: #90959e;
    font-size: 16px;
}

.main .login-form label {
    padding: 5px 0;
    color: #90959e;
    font-size: 13px;
}

.bi-eye {
    color: #90959e;
    font-size: 20px;
    position: absolute;
    right: 10px;
}
.test-layer {
    margin: 5px 0;
    position: relative;
}

.main .login-form input {
    background-color: transparent;
    border-bottom: 1px solid #273141;
    padding: 12px 40px 12px 8px;
    transition: all .5s;
    font-size: 15px;
    color: #fff;
    width: 100%;
}

.main .login-form input:hover {
    border-bottom: 1px solid #4687e2;
}

.main .login-form__input {
    display: flex;
    align-items: center;
}

.main .validation-error {
    border-bottom: 1px solid #dc4760 !important;
}

.main .login-btn {
    padding: 14px 17px;
    background-color: #4c4bb1;
    color: aliceblue;
    transition: all .5s;
    margin-bottom: 20px;
    font-size: 14px;
}

.main .login-btn:hover {
    background-color: #d639e1;
}

.restore-password {
    padding: 15px 0;
}

.restore-password a {
    color: #4687e2;
    transition: all .8s;
}

.restore-password a:hover {
    color: #dc4760;
}

.main .login-form__error {
    color: #dc4760;
    font-size: 11px;
    font-style: inherit;
    padding: 6px 0;
}

.main .form-link {
    text-align: center;
    color: #90959e;
    font-size: 14px;
}

.main .form-link a {
    color: #4687e2;
    transition: all .8s;
    padding-left: 3px;
}

.main .signin a:hover {
    color: #dc4760;
}

@media (max-width: 1100px) {
    .main .login-sidebar,
    .signup-sidebar {
        display: none;
    }
}

@media (max-width: 768px) {
    .main .login-sidebar,
    .signup-sidebar {
        display: none;
    }
}