.main {
    display: flex;
    justify-content: center;
}

.main .login {
    background: #252339;
    display: flex;
}

.main .login-sidebar {
    background-image: url("../../assets/portal/auth.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 450px;
    width: 100%;
}

.main .login-sidebar img {
    width: 100%;
    max-height: 500px;
}

.main .login-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 450px;
}

.input-icon {
    color: #90959e;
    font-size: 16px;
}

.main .login-form label {
    padding: 5px 0;
    color: #90959e;
    font-size: 13px;
}

.main .login-form input {
    background-color: transparent;
    border-bottom: 1px solid #273141;
    padding: 12px;
    transition: all .5s;
    font-size: 15px;
    color: #fff;
    width: 100%;
}

.main .login-form input:hover {
    border-bottom: 1px solid #4687e2;
}

.main .input__inner {
    display: flex;
    align-items: center;
}

.main .validation-error {
    border-bottom: 1px solid #dc4760 !important;
}

.main .login-btn {
    padding: 14px 17px;
    background-color: #4c4bb1;
    color: aliceblue;
    transition: all .5s;
}

.main .login-btn:hover {
    background-color: #d639e1;
}

.restore-password {
    padding: 15px 0;
}

.restore-password a {
    color: #4687e2;
}

.main .form-error {
    color: #dc4760;
    font-size: 11px;
    font-style: inherit;
    line-height: 12px;
}

@media (max-width: 768px) {
    .main .login-sidebar {
        display: none;
    }
}