.login {
    display: flex;
    justify-content: center;
}

.login .login-form {
    background: #252339;
    display: flex;
}

.login .login-sidebar {
    height: fit-content;
}

.login .login-sidebar img {
    width: 100%;
    max-height: 500px;
}

.login .form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 450px;
}

.input-icon {
    color: #90959e;
    font-size: 16px;
}

.login .form label {
    padding: 5px 0;
    color: #90959e;
    font-size: 13px;
}

.login .form input {
    background-color: transparent;
    border-bottom: 1px solid #273141;
    padding: 12px;
    transition: all .5s;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.login .form input:hover {
    border-bottom: 1px solid #4687e2;
}

.login .input__inner {
    display: flex;
    align-items: center;
}

.login .validation-error {
    border-bottom: 1px solid #dc4760 !important;
}

.login .login-btn {
    padding: 14px 17px;
    background-color: #4c4bb1;
    color: aliceblue;
    transition: all .5s;
}

.login .login-btn:hover {
    background-color: #d639e1;
}

.restore-password {
    padding: 15px 0;
}

.restore-password a {
    color: #4687e2;
}

.login .form-error {
    color: #dc4760;
    font-size: 11px;
    font-style: inherit;
    line-height: 12px;
}