.home-wrapper {}

.top-side {
    display: flex;
}

.widget-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 5px 5px -5px rgba(157 162 169 / 55%);
    border: 1px solid #f3f5f6;
    border-radius: 8px;
}

.widget-item__title {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 10px;
}

th,
td {
    padding: 4px 10px;
}