.home-wrapper {}

.top-side {
    display: flex;
}

.widget-item {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(179, 183, 201, .2), 0 4px 4px 0 rgba(179, 183, 201, .2), 0 8px 8px 0 rgba(179, 183, 201, .2), 0 16px 16px 0 rgba(179, 183, 201, .2), 0 32px 32px 0 rgba(179, 183, 201, .2);
    border: 1px solid #dde8f9;
    border-radius: 12px;
}

.widget-item__title {
    font-size: 16px;
    color: #0d0c21;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.last-devices-table {
    border-collapse: collapse;
    font-family: sans-serif;
    color: #222529;
    font-size: 12px;
}

.last-devices-table td,
.last-devices-table th {
    border: 1px solid #ebedf1;
    padding: 12px;
}

.last-devices-table tr:nth-child(even) {
    background-color: #f5f6fb;
}

.last-devices-table tr:hover {
    background-color: rgb(240, 240, 240);
}

.last-devices-table th {
    padding-top: 12px;
    font-weight: 500;
    padding-bottom: 12px;
    text-align: center;
    background-color: #BA869F;
    color: #fff;
}