.home-wrapper {}

.top-side {
    display: flex;
}

.widget-item {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(179, 183, 201, .2), 0 4px 4px 0 rgba(179, 183, 201, .2), 0 8px 8px 0 rgba(179, 183, 201, .2), 0 16px 16px 0 rgba(179, 183, 201, .2), 0 32px 32px 0 rgba(179, 183, 201, .2);
    border: 1px solid #dde8f9;
    border-radius: 11px;
}

.chart {
    width: 400px;
}

.widget-item:not(:last-child) {
    margin-right: 20px;
}

.widget-item__title {
    font-size: 16px;
    color: #212431;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}

.widget-table {
    border-collapse: collapse;
    font-family: sans-serif;
    color: #2f323e;
    font-size: 12px;
}

.widget-table td,
.widget-table th {
    border: 1px solid #ebedf1;
    padding: 12px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
}

.widget-table tr:nth-child(even) {
    background-color: #f5f6fb;
}

.widget-table tr:hover {
    background-color: rgb(240, 240, 240);
}

.widget-table th {
    padding-top: 12px;
    font-size: 13px;
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 12px;
    text-align: center;
    background-color: #7c7fd7;
    color: #fff;
}