* {
    font-family: 'Roboto Condensed', sans-serif;
}

.todo-alert {
    width: 200px;
    height: fit-content;
}

.notification-title {
    font-family: inherit;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: -.5px;
}

.todo-alert__items {
    margin-bottom: 20px;
}

.todo-alert__item {
    border-top: 1px solid #fcfdff;
    border-bottom: 1px solid #d9e0ed;
    padding: 5px 0;
}

.todo-alert__item:last-child {
    border-bottom: none;
}

.todo-alert__item:first-child {
    border-top: none;
}

.todo-alert__item .title {
    color: #212431;
    font-size: 12px;
    font-family: inherit;
}

.todo-alert__item .time {
    color: #737f96;
    font-size: 11px;
    font-family: inherit;
}

.check-todos {
    padding: 7px 10px;
    background-color: #13bfa6;
}

.check-todos a {
    color: aliceblue;
    font-size: 11px;
    font-family: inherit;
}