.pagination {
    background-color: rgb(212, 133, 255);
    text-align: center;
}

.pagination .container {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 173, 110);
}

.pagination-item {
    background-color: darkgreen;
    margin: 5px;
    cursor: pointer;
    padding: 12px 15px;
}

.active {
    background-color: rgb(100, 0, 82);
    padding: 12px 15px;
}

.pagination-link {
    cursor: pointer;
}