* {
    font-family: 'Roboto Condensed', sans-serif;
}

.profile {
    background-color: #312f49;
    -webkit-box-shadow: 14px 15px 25px 0px rgba(34, 46, 80, 0.5);
    -moz-box-shadow: 14px 15px 25px 0px rgba(34, 46, 80, 0.5);
    box-shadow: 14px 15px 25px 0px rgba(34, 46, 80, 0.5);
    width: 200px;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile__user {
    text-align: center;
    padding: 15px 0;
}

.profile__user .username {
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #e6eaf3;
    padding: 5px 0;
}

.profile__user .description {
    font-family: inherit;
    font-size: 12px;
    color: #e0e5f0;
    text-transform: uppercase;
}

.profile-menu .profile {
    background-color: rgb(60, 21, 86);
    margin: 0;
}

.profile-menu .profile__item {
    display: block;
    padding: 11px 0;
}

.profile-menu .profile__link {
    display: inline-block;
    color: #b6bdcc;
}

.bi-person-check,
.bi-pencil,
.bi-box-arrow-right,
.bi-chat-square {
    color: #b6bdcc;
    font-size: 18px;
    display: inline-block;
    margin-right: 10px;
}

.profile__item {
    padding: 5px 0;
    position: relative;
    border-top: 1px solid #3c3958;
    border-bottom: 1px solid #262439;
}

.profile__item:last-child {
    border-bottom: none;
}

.profile__item:first-child {
    border-top: none;
}