* {
    font-family: 'Roboto Condensed', sans-serif;
}

.profile {
    background-color: #312f49;
    /* -webkit-box-shadow: 14px 15px 25px 0px rgba(34, 46, 80, 0.5);
    -moz-box-shadow: 14px 15px 25px 0px rgba(34, 46, 80, 0.5);
    box-shadow: 14px 15px 25px 0px rgba(34, 46, 80, 0.5); */

    -webkit-box-shadow: 0 20px 40px rgb(34 46 80 / 50%), 0 4px 20px rgb(34 46 80 / 35%);
    box-shadow: 0 20px 40px rgb(34 46 80 / 50%), 0 4px 20px rgb(34 46 80 / 35%);
    border-radius: 7px;
    width: 200px;
    height: fit-content;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.profile::before {
    content: "";
    width: 60px;
    height: 20px;
    right: 0px;
    top: -6px;
    position: absolute;
    background-color: #312f49;
    border-radius: 8px 8px 8px;
}

.profile-circle {
    width: 0;
    height: 0;
    top: -10px;
    right: 7px;
    position: absolute;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 14px solid #312f49;
}


.profile__user {
    text-align: center;
    padding: 15px 0;
}

.profile__user .username {
    font-family: inherit;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #e6eaf3;
    padding: 5px 0;
}

.profile__user .description {
    font-family: inherit;
    font-size: 12px;
    color: #e0e5f0;
    text-transform: uppercase;
}

.profile-menu .profile {
    background-color: rgb(60, 21, 86);
    margin: 0;
}

.profile-menu .profile__item {
    display: block;
    padding: 11px 0;
}

.profile-menu .profile__link {
    display: inline-block;
    color: #b6bdcc;
    transition: all .5s;
    font-size: 12px;
    font-family: inherit;
}

.profile-menu .profile__link:hover {
    color: #26bea6;
}

.bi-person-check,
.bi-pencil,
.bi-box-arrow-right,
.bi-chat-square {
    color: #b6bdcc;
    font-size: 16px;
    display: inline-block;
    margin-right: 10px;
}

.profile__item {
    padding: 5px 0;
    position: relative;
    border-top: 1px solid #3c3958;
    border-bottom: 1px solid #262439;
}

.profile__item:last-child {
    border-bottom: none;
}

.profile__item:first-child {
    border-top: none;
}