* {
    font-family: 'Roboto Condensed', sans-serif;
}

.user-menu {
    background-color: rgb(40, 182, 182);
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100 !important;
}

