.header {
    background-color: #fff;
    height: 60px;
    width: 100%;
    position: fixed;
    box-shadow: 0 4px 4px -5px rgba(0, 0, 0, .5);
    padding-left: 60px;
}

.header.stick {
    position: fixed;
}