* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

 :focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.App {
    width: 100%;
    background-color: aquamarine
}

.title {
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -.5px;
}

.add-btn {
    padding: 9px 12px;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: rgb(0, 121, 30);
    font-weight: 600;
    font-size: 11px;
    color: rgb(236, 236, 236);
}

.delete-btn {
    padding: 9px 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: rgb(255, 137, 143);
    font-weight: 600;
    font-size: 11px;
    color: #000;
}

.update-btn {
    padding: 9px 12px;
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: rgb(176, 126, 255);
    font-weight: 600;
    font-size: 11px;
    color: #000;
    margin-left: 5px;
}

.device-item {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(228, 228, 228);
    padding: 10px 20px;
    align-items: center;
}

.device-item__device-id {}

.device-item__device-type,
.device-item__device-name,
.device-item__inventory-number,
.device-item__username,
.device-item__device-addtime {
    padding: 20px;
    flex-basis: 20%;
}

.add-device-form {
    background-color: rgb(243, 243, 243);
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}


/*--------------------*/

.bi-search {
    color: #fff;
    font-size: 15px;
}

.sidebar {
    position: fixed;
    width: 270px;
    height: 100vh;
    background: rgb(55, 50, 61);
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width .8s ease-in-out;
}

.sidebar.inactive {
    width: 70px;
    height: 100vh;
}

.top-section {
    position: relative;
    top: 20px;
}

.top-section .logo {
    display: inline-block;
}

.bi-laptop {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 15px;
}

.sidebar .top-section .toggle-menu-btn {
    font-size: 29px;
    color: rgb(137, 0, 94);
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}

.sidebar.inactive .top-section .toggle-menu-btn {
    right: -60px;
}

.menu .menu__list .menu__item {
    position: relative;
    margin-bottom: 30px;
}

.menu .menu__list .menu__item .icon {
    font-size: 25px;
    color: rgb(246, 244, 154);
    display: inline-block;
}

.menu .menu__list .menu__item .menu__link {
    color: rgb(105, 105, 105);
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    display: inline-block;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);
}

.sidebar-footer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 80px;
    background-color: cornflowerblue;
    bottom: 0;
    left: 0;
}

.sidebar-footer__user {
    width: 100%;
    background-color: violet;
}

.user-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.user-icon img {
    width: 100%;
}

.user-info {
    color: bisque;
    font-size: 10px;
    display: inline-block;
}