    * {
        padding: 0;
        margin: 0;
        border: 0;
    }
    
    *,
    *:before,
    *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
     :focus,
     :active {
        outline: none;
    }
    
    a:focus,
    a:active {
        outline: none;
    }
    
    nav,
    footer,
    header,
    aside {
        display: block;
    }
    
    html,
    body {
        font-size: 100%;
        line-height: 1;
        font-size: 14px;
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
    
    input,
    button,
    textarea {
        font-family: inherit;
    }
    
    input::-ms-clear {
        display: none;
    }
    
    button {
        cursor: pointer;
    }
    
    button::-moz-focus-inner {
        padding: 0;
        border: 0;
    }
    
    a,
    a:visited {
        text-decoration: none;
    }
    
    a:hover {
        text-decoration: none;
    }
    
    ul li {
        list-style: none;
    }
    
    img {
        vertical-align: top;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: 400;
    }
    
    .title {
        font-size: 21px;
        text-transform: uppercase;
        color: #0d0c21;
        margin: 20px 0;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: -.5px;
    }
    
    .add-btn {
        padding: 9px 12px;
        margin: 10px 0;
        text-transform: uppercase;
        font-family: sans-serif;
        background: #26bea6;
        border-radius: 2px;
        font-size: 11px;
        color: #fff;
        transition: all .7s ease-in;
    }
    
    .add-btn:hover {
        padding: 9px 12px;
        margin: 10px 0;
        text-transform: uppercase;
        font-family: sans-serif;
        background: #2acab2;
        border-radius: 2px;
        font-size: 11px;
        color: #fff;
    }
    
    .delete-btn {
        padding: 9px 12px;
        background-color: transparent;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 800;
        color: #5b626b;
        transition: all .7s;
    }
    
    .delete-btn:hover {}
    
    .update-btn {
        padding: 9px 12px;
        background-color: transparent;
        font-size: 16px;
        font-weight: 800;
        color: #5b626b;
        margin-left: 5px;
        border-radius: 2px;
        transition: all .7s;
    }
    
    .update-btn:hover {}
    
    .device-item {
        display: flex;
        justify-content: space-between;
        border: 1px solid rgb(228, 228, 228);
        padding: 5px 5px 5px 20px;
        align-items: center;
    }
    
    .device-item:nth-child(2n) {
        background-color: #f5f6fb;
    }
    
    .device-item:not(:last-child) {
        border-bottom: none;
    }
    
    .device-item__device-id {
        margin-right: 10px;
    }
    
    .device-item__device-type,
    .device-item__device-name,
    .device-item__inventory-number,
    .device-item__username,
    .device-item__device-addtime {
        flex-basis: 20%;
        font-family: sans-serif;
        font-size: 12px;
        color: rgb(11, 11, 11);
    }
    
    .add-device-form {
        width: 100%;
        margin: 0 auto;
        padding: 30px 20px;
    }
    /*--------------------*/
    
    .bi-search {
        color: #fff;
        font-size: 15px;
    }
    
    .App {
        width: 100%;
        background: #f0f2fb;
        display: flex;
    }
    
    .menu-container {}
    
    .content-wrapper {
        width: 100%;
        position: relative;
        min-height: 100vh;
        margin-left: 70px;
        transition: .5s ease-in-out;
    }
    
    .content-wrapper.slided-content {
        min-height: 100vh;
        width: 100%;
        margin-left: 210px;
        transition: .5s ease-in-out;
    }
    
    .content-container {
        padding: 20px;
        width: 100%;
        margin-top: 65px;
    }
    
    .content-container__inner {
        width: 100%;
        min-height: 100vh;
        display: flex;
        position: relative;
    }
    
    .devices-list {
        background-color: #fff;
        box-shadow: 0 5px 5px -5px rgba(157 162 169 / 55%);
        border: 1px solid #f3f5f6;
        padding: 15px 30px 30px;
        border-radius: 6px;
        width: 100%;
    }
    
    .add-device-block {
        width: 330px;
        height: 380px;
        padding: 5px;
        background-color: #A67BB5;
        box-shadow: 0 4px 4px 0 rgba(166, 123, 181, .2), 0 8px 8px 0 rgba(166, 123, 181, .2), 0 16px 16px 0 rgba(166, 123, 181, .2), 0 32px 32px 0 rgba(166, 123, 181, .2), 0 64px 64px 0 rgba(166, 123, 181, .2), 0 128px 128px 0 rgba(166, 123, 181, .2);
        position: sticky;
        z-index: 3;
        margin: 5% 0 0 20px;
        border-radius: 12px;
        top: 78px;
    }
    
    .sidebar {
        width: 210px;
        position: fixed;
        height: 100%;
        background: #736ec7;
        transition: width .5s ease-in-out;
        box-shadow: 0 0 15px rgba(109, 104, 192, 0.9);
        z-index: 9;
    }
    
    .sidebar.inactive {
        width: 70px;
        height: 100%;
        box-shadow: 0 0 15px rgba(109, 104, 192, 0.9);
    }
    
    .top-section {
        position: relative;
        background: #736ec7;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .top-section .logo {
        display: flex;
        align-items: center;
        font-size: 26px;
        text-align: center;
        font-weight: 200;
        padding: 10px;
        overflow: hidden;
        color: rgb(30, 30, 30);
    }
    
    .top-section .text-logo {
        color: rgb(32, 32, 32);
        padding-left: 10px;
        font-family: sans-serif;
        font-size: 14px;
        font-weight: 500;
    }
    
    .top-section .text-logo.disable {
        display: none;
        transition: all 1s ease-in-out;
    }
    
    .bi-laptop {
        font-size: 30px;
        color: #fff;
        text-transform: uppercase;
        margin-right: 15px;
    }
    
    .sidebar .top-section .toggle-menu-btn {
        position: absolute;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        display: flex;
        cursor: pointer;
        font-size: 20px;
        right: -35px;
        color: #465077;
        z-index: 9;
        top: 23px;
    }
    
    .sidebar.inactive .top-section .toggle-menu-btn {
        right: -35px;
        color: #465077;
        font-size: 20px;
    }
    
    .menu {
        margin-top: 50px;
        padding: 30px 12px;
    }
    
    .menu .menu__list .menu__item {
        position: relative;
        padding: 5px 0;
        border-top: 1px solid #6963b6;
        border-bottom: 1px solid #7e77d9;
    }
    
    .menu .menu__list .menu__item:first-child {
        border-top: none;
    }
    
    .menu .menu__list .menu__item:last-child {
        border-bottom: none;
    }
    
    .menu .menu__list .menu__item .icon {
        font-size: 23px;
        color: #f8f9fe;
        font-family: bold;
        display: inline-block;
        padding: 10px;
        border-radius: 7px;
        cursor: pointer;
    }
    
    .sidebar.inactive .menu .menu__list .menu__item .icon:hover {
        background: #6763b3;
    }
    
    .menu .menu__list .menu__item .menu__link {
        color: #f8f9fe;
        position: absolute;
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;
        display: block;
        font-size: 11px;
        display: inline-block;
        font-family: sans-serif;
        top: 50%;
        margin-left: 8px;
        transform: translateY(-50%);
    }
    
    .sidebar.inactive .menu .menu__list .menu__item .menu__link {
        margin-left: 18px;
    }
    
    .sidebar .menu__link {
        opacity: 1;
        transition: opacity .7s ease-in;
    }
    
    .sidebar.inactive .menu__link {
        opacity: 0;
        transition: opacity .2s;
    }
    
    .sidebar.inactive .menu__item .menu__link {
        position: absolute;
        left: -999px;
    }
    
    .sidebar.inactive .menu__item:hover .menu__link {
        opacity: 1;
        position: absolute;
        left: 30px;
        top: 5px;
        border-radius: 3px;
        color: #fff;
        padding: 10px 14px;
        background: #26bea6;
        transition: opacity .7s ease-in;
        box-shadow: 0 4px 4px 0 rgba(38, 190, 166, .2), 0 8px 8px 0 rgba(38, 190, 166, .2), 0 16px 16px 0 rgba(38, 190, 166, .2), 0 32px 32px 0 rgba(38, 190, 166, .2), 0 64px 64px 0 rgba(38, 190, 166, .2), 0 128px 128px 0 rgba(38, 190, 166, .2);
    }
    
    .add-device {
        background-color: #fff;
        padding: 20px;
    }
    
    .block-content {
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 5px 5px -5px rgba(157 162 169 / 55%);
        border: 1px solid #f3f5f6;
        border-radius: 8px;
        max-width: 700px;
    }